@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Italiana&family=Yeseva+One&display=swap');

:root {
    --hsl-cabernet: #3F1114;
    --hsl-maroon: #681D24;
    --hsl-blue: #206a75;
    --hsl-beige: #b89d7f;
    --hsl-krem: #fff9ec;

    --font-overskrift: "Yeseva One", serif;
    ;
    --font-underoverskrif: "Italiana", sans-serif;
    --font-body: "Epunda Slab", serif;
}


/* CSS RESET */
html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-body);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1 {
    font-family: var(--font-overskrift);
    line-height: 1.2;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-underoverskrif);
}

/* CSS RESET */

/* NAV */

nav {
    background-color: var(--hsl-cabernet);
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 3;
}

.nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    max-width: 90%;
}

.logo {
    font-size: 1.25rem;
    background-color: var(--hsl-krem);
    border-radius: 50%;
    padding: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-book {
    color: var(--hsl-cabernet);
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-links a {
    color: var(--hsl-krem);
    font-family: var(--font-body);
    font-weight: 700;
    font-size: 18px;
}

.nav-links a:hover {
    color: var(--hsl-beige);
}

.nav-links a.active {
    color: var(--hsl-beige);
}

.nav-burger {
    display: none;
}

/* NAV */



/* HEADER */

.index-body{
    background-color: var(--hsl-krem);
}

header {
    background-image: url(./bilder/bøker.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    height: 90vh;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-section {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgba(104, 29, 36, 0.7);
    padding: 60px 100px;
    border-radius: 20px;
}

.header-title {
    color: var(--hsl-beige);
    font-size: 102px;
}

.header-info {
    color: var(--hsl-beige);
    font-size: 22px;
    font-style: italic;
    margin-top: -40px;
}

.index-btn {
    color: var(--hsl-maroon);
    background-color: var(--hsl-beige);
    padding: 10px 20px;
    border-radius: 20px;

}

/* HEADER */

/* Index section 1 */

.index-section1 {
    display: flex;
    justify-content: center;
    /*    background-color: var(--hsl-krem); */
}

.ukens {
    max-width: 800px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 0;
}

.ukens-title {
    font-size: 48px;
    color: var(--hsl-blue);
}

.ukens-tekst {
    font-size: 18px;
}

.ukens-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.ukens-card img {
    width: 200px;
    border-radius: 14px;
}


/* Index section 1 */
/* Index section 2 */

.index-section2 {
    background-color: #681D24;
    border-radius: 10% 10% 0 0;
    display: flex;
    justify-content: center;
    height: 80vh;
}

.leseglede {
    max-width: 800px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.leseglede-title {
    margin-bottom: 100px;
    font-size: 36px;
}

.leseglede-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.leseglede-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.leseglede-cards i {
    font-size: 40px;
}

.leseglede-cards:hover{
    color: var(--hsl-beige);
    transition: 0.5s;
}

/* Index section 2 */

/* Footer */
footer {
    background-color: var(--hsl-cabernet);
    padding: 1.5rem 2rem;
    text-align: center;
}

footer p {
    color: var(--hsl-beige);
}

/* Footer */